.profile-font-bold {
  font-weight: bold;
  color: #0c3d72;
}

.profile-gold {
  color: #cfaa43;
}

.profile-box {
  padding-top: 20px;
}

.profile-large-container {
  width: 800px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.profile-white-block {
  margin-top: 25px;
  width: 350px;
  padding-top: 10px;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.623);
  border: 1px solid #ccc;
  border-radius: 13px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.about-us-container {
  margin-top: 25px;
  padding-bottom: 15px;
  padding-right: 15px;
  width: 350px;
  max-height: 400px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.623);
  border: 1px solid #ccc;
  border-radius: 13px;
  overflow: hidden;
}

.skills-container {
  margin-top: 25px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin-right: 15px;
  padding-right: 20px;
  width: 350px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.623);
  border: 1px solid #ccc;
  border-radius: 13px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.skills-container::-webkit-scrollbar {
  display: none;
}

.sticky-heading {
  position: sticky; 
  top: 0; 
  background-color: #e2e4e8;
  z-index: 1; 
  padding-bottom: 3px;
}

.skills-item {
  background-color: #081e3f;
  color: #fff;
  padding: 7px 10px;
  border: none;
  border-radius: 7px;
  font-size: 13px;
  max-width: 150px;
  word-wrap: break-word; 
}

.skills-item-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  margin-left: 20px;
}

.profile-flex {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.extra-container, .experience-container {
  padding-right: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  width: 740px;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.623);
  border: 1px solid #ccc;
  border-radius: 13px;
}

.project-container {
  margin-top: 25px;
  padding-bottom: 12px;
  padding-right: 15px;
  width: 350px;
  min-height: 270px;
  background-color: rgba(255, 255, 255, 0.623);
  border: 1px solid #ccc;
  border-radius: 13px;
}

.profile-p-pic {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.profile-size {
  padding-left: 15px;
}

.profile-name-size {
  color: #0c3d72;
  font-size: 24px;
}

.profile-class-size {
  font-size: 20px;
  color: #cfaa43;
}

.title-text {
  color: #0c3d72;
  font-size: 18px;
  padding-top: 20px;
  margin-left: 20px;
}

.title-about-line {
  border-top: 2px solid #cfaa43;
  width: 27%;
  margin-left: 20px;
}

.title-experience-line {
  border-top: 2px solid #cfaa43;
  width: 16%;
  margin-left: 20px;
}

.title-project-line {
  border-top: 2px solid #cfaa43;
  width: 27%;
  margin-left: 20px;
}

.title-extra-line {
  border-top: 2px solid #cfaa43;
  width: 26%;
  margin-left: 20px;
}

.title-skills-line {
  border-top: 2px solid #cfaa43;
  width: 18%;
  margin-bottom: 8px;
  margin-left: 20px;
}

.profile-title {
  margin-top: 15px;
  margin-left: 20px;
}

.experience-company-name {
  margin-top: 3px;
  margin-left: 20px;
}

.profile-descript {
  color: #0c3d72;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 8px;
}

.experience-text {
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 5px;
}

.experience-time-type {
  font-size: 13px;
}

.three-text-flex {
  display: flex;
  padding-bottom: 10px;
  color: #0c3d72;
}

.three-text-ans {
  margin-left: 5px;
  color: #0c3d72;
}

.extra-tab-container, .experience-tab-container {
  padding-right: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 700px;
  min-height: 30px;
  background-color: rgba(211, 213, 224, 0.591);
  border: 1px solid #ccc;
  border-radius: 13px;
}

.project-tab-container {
  padding-bottom: 15px;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  min-height: 175px;
  background-color: rgba(211, 213, 224, 0.591);
  border: 1px solid #ccc;
  border-radius: 13px;
}

.profile-skills {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}


