*{
  margin: 0; 
  font-family: Helvetica;
}


#root {
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(91.16, 134.1, 181.32, 0.5) 0%, /* Start with the blue color */
      rgba(173.08, 194.55, 218.16, 0.62) 50%, /* Middle color */
      rgba(255, 255, 255, 0.75) 100% /* End with the white color */
  );
}
