*{
    font-family: "New Frank", Helvetica;
    color: #081e3f;
    
}


.form{
    margin-top: 40px;
}

.required-jobs {
    display: inline;
    color: red;
}


.job-posting {
    width: 600px;
    max-width: 800px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: 0 auto; 
}

.job-posting h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.job-posting label {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.job-posting input,
.job-posting select,
.job-posting textarea {
    margin-left: 0;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    align-items: left;
}

.job-posting textarea {
    height: 100px;
}

.job-posting button {
    display: block;
    width: 30%;
    padding: 0.5rem;
    background-color: #ffcc00b0;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 435px;
}

.job-posting button:hover {
    background-color: #b6862c;
}

.date-picker {
    display: grid;
    grid-template-rows: 30px;
    gap: 0px;
}

.date-picker input[type="date"] {
    margin-right: 0px;
    flex: 2;
}

.radio-container {
    display: grid;
    grid-template-columns: 20px 20px; 
    align-items: last baseline; 
    margin-right: 0;
    gap: 5px; 
}

.radio-container input[type="radio"] {
    margin: 0;
}

.radio-container label {
    text-align: left; 
    margin-left: 0;
    padding-left: 0;
}